/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
}

/* Add more styles for the left, middle, and right sections. */
