.desktop {
    background-color: #2b2928;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #2b2928;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .desktop .overlap {
    height: 244px;
    left: 293px;
    position: absolute;
    top: 51px;
    width: 338px;
  }
  
  .desktop .rectangle {
    height: 244px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 332px;
  }
  
  .desktop .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 26px;
    font-weight: 700;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 136px;
    white-space: nowrap;
    width: 263px;
  }
  
  .desktop .live-action-from {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 175px;
    white-space: nowrap;
    width: 254px;
  }
  
  .desktop .img {
    height: 761px;
    left: -3209px;
    position: absolute;
    top: 3256px;
    width: 1px;
  }
  
  .desktop .overlap-group {
    background-image: url(f1_jobs.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 246px;
    left: 678px;
    position: absolute;
    top: 52px;
    width: 332px;
  }
  
  .desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 26px;
    font-weight: 700;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 135px;
    white-space: nowrap;
    width: 204px;
  }
  
  .desktop .real-AMA-from {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 174px;
    white-space: nowrap;
    width: 256px;
  }
  
  .desktop .overlap-2 {
    background-image: url(mexico_gp.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 245px;
    left: 1053px;
    position: absolute;
    top: 51px;
    width: 335px;
  }
  
  .desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 26px;
    font-weight: 700;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 136px;
    white-space: nowrap;
    width: 253px;
  }
  
  .desktop .see-posts-from-your {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 175px;
    white-space: nowrap;
    width: 305px;
  }